body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

.system {
    border: 2px solid darkgray;
    border-radius: 5px;
    margin: 5px 2px;
    display: flex;
}

.system > div {
    background-color: white;
}

.system > div:first-child {
    background-color: darkgray;
    font-weight: bold;
    font-style: italic;
    display: inline-block;
    padding: 5px 15px 5px 5px;
    margin-right: 5px;
    width: 120px;
}

#clients {
    display: flex;
}

.client {
    display: block;
    border: 1px solid darkgray;
    padding: 2px 5px;
    margin: 2px;
    border-radius: 5px;
}

.client.active {
    background-color: lightgreen;
}

.client.inactive {
    background-color: lightyellow;
}

.client.gone {
    background-color: lightgray;
}

.client > div {
    font-size: 10pt;
}

button {
    background-color: lightblue;
    border: 1px solid darkblue;
    color: darkblue;
    margin: 2px;
    padding: 2px 5px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: white;
}

button:disabled {
    background-color: lightgray;
    color: darkgray;
    border-color: darkgray;
}

.tag {
    display: inline-block;
    border: 1px solid darkgray;
    padding: 2px 5px;
    border-radius: 5px;
    margin-right: 5px;
}

.damaged {
    background-color: darkred;
    color: white;
    font-weight: bold;
}

.disabled {
    background-color: #333;
    color: white;
}

.contact {
    background-color: lightgray;
    border: 1px solid darkgray;
    border-radius: 5px;
    font-size: 10pt;
    padding: 5px;
    margin-bottom: 5px;
}

.alert-level {
    display: inline-block;
    border: 1px solid darkgray;
    padding: 5px 10px;
    border-radius: 5px;
}