#content { 
    padding: 20px;
    margin-top: 10px;
}

body {
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    background-attachment: fixed;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
}