#content { 
    padding: 20px;
    margin-top: 10px;
}

#rowOne {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

body {
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    background-attachment: fixed;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
}

#sensorScans {
    display: flex;
    flex-direction: column;
}

#incomingScanContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10vh;
    width: 45vh;
    border: none;
    border-radius: 3px;
    overflow-y: auto;
    padding: 5px;
    background-color: #2c5364;
    color: white;
}

#scanResponse {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10vh;
    width: 45vh;
    border: 2px solid #ccc;
    border-radius: 3px;
    resize: none;
    overflow-y: auto;
    padding: 5px;
    background-color: #ccc;
    text-align: center;
    color: black;
}

#sensorButtonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 45vh;
    margin-top: 5px;
}

.alertButton {
    border: none;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 5px;
    padding-left: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin: 5px;
}

.alertButton:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.alertButton:disabled {
    background-color: #3e8e41;
    cursor: not-allowed;
}

.primaryButton {
    border: none;
    background-color: #008CBA;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 5px;
    padding-left: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin: 5px;
}

.primaryButton:hover {
    background-color: #007B9E;
    transform: scale(1.05);
}

.primaryButton:disabled {
    background-color: #005f73;
    cursor: not-allowed;
}

.warningButton {
    border: none;
    background-color: #f44336;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 5px;
    padding-left: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin: 5px;
}

.warningButton:hover {
    background-color: #d32f2f;
    transform: scale(1.05);
}

.warningButton:disabled {
    background-color: #b71c1c;
    cursor: not-allowed;
}

.secondaryButton {
    border: none;
    background-color: #e38b20;
    color: black;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 5px;
    padding-left: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin: 5px;
}

.secondaryButton:hover {
    background-color: #d67c00;
    transform: scale(1.05);
}

.secondaryButton:disabled {
    background-color: #b36b00;
    cursor: not-allowed;
}

#navigation {
    display: flex;
    flex-direction: column;
}

#requestedCourseContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#requestedCourse {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2c5364;
    border-radius: 3px;
    margin: 5px;
    padding: 5px;
    width: 30vh;
    resize: none;
    overflow-y: auto;
}

#coordinates {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coordinate {
    text-align: center;
    background-color: #ccc;
    resize: none;
    overflow-y: auto;
    border-radius: 3px;
    padding: 5px;
    height: 1.75rem;
    margin: 5px;
    width: 22vh;
}

.coordinateContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 25vh;
}

#courseCalculation {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#navigationButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

#currentETA {
    display: flex;
    flex-direction: row;
}

#etaValue {
    margin-left: 5px;
}

#engines {
    margin-bottom: 10px;
}

#enginesAndETA {
    display: flex;
    flex-direction: column;
}

.etaInput {
    background-color: #ccc;
    border-radius: 3px;
    border: none;
    width: 12vh;
}

#etaButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#listOfSystems {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 30vh;
    background-color: #007B9E;
    border-radius: 3px;
}

.system {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
}

#powerAdjustment {
    background-color: #ccc;
    border-radius: 3px;
    border: none;
    width: 10vh;
}

.systemName {
    width: 15vh;
}

.currentPower {
    margin: 5px;
}

.requiredPower {
    margin: 5px;
}

#courseEtaInput {
    background-color: #ccc;
    border-radius: 3px;
    border: none;
    width: 12vh;
    margin-left: 15px;
}

#courseEtaContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

#rowTwo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

#alertContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 45vh;
}

#currentAlert {
    padding-left: 5px;
    padding-right: 10px;
}

.alertStatusButton {
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#alert1 {
    background-color: #f44336;
    color: white;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#alert1:hover {
    background-color: #d32f2f;
    transform: scale(1.05);
}

#alert2 {
    background-color: #ddba1d;
    color: white;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#alert2:hover {
    background-color: #c6a00f;
    transform: scale(1.05);
}

#alert3 {
    background-color: #4CAF50;
    color: white;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#alert3:hover {
    background-color: #4CAF50;
    transform: scale(1.05);
}

#thrusterStatusContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#attitudeStatus {
    margin-right: 10px;
}

.shieldContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#warheadsContainer {
    margin-top: 10px;
    width: 45vh;
}

#currentlyLoadedContainer {
    display: flex;
    flex-direction: row;
}

#lastFiredTorpedo {
    margin-left: 10px;
}

#torpedoType {
    background-color: #ccc;
    border: none;
    border-radius: 3px;
}

#currentlyLoadedTorpedo {
    margin-left: 10px;
}

#numTorpedos {
    background-color: #ccc;
    border: none;
    border-radius: 3px;
    width: 7vh;
}

#availableTorpedosContainer {
    background-color: #007B9E;
    border-radius: 3px;
    border: none;
    overflow-y: auto;
    height: 12vh;
    padding: 5px;
}

#energyBeamsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #007B9E;
    border-radius: 3px;
    border: none;
    padding: 10px;
}

#forwardEnergyBeamContainer {
    margin-left: 20px;
}

#energyBeams {
    margin-top: 30px;
}

#lastFiredContainer {
    display: flex;
    flex-direction: row;
}